<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Biglietti</h1>
        <div class="pagina">
            <section class="s1">
                <div class="utenti">
                    <h2>Utenti</h2>
                    <!-- Qui metterò il bottone -->
                        <button (click)="staccaTicket()">Stacca Ticket</button>
                        <div class="staccaTicket">
                        <div class="ultimoTicket">
                            {{ultimoTicketFormattato}}
                    <!-- Qui deve comparire il numero interpolato {{ ultimoTicketFormattato }} -->
                        </div>
                    </div>
                </div>
            </section>


            <section class="s2">
                <div class="tabellone">
                    <h2>Tabellone</h2>

                    <div class="coda">
                        <div>
                            <h4>Operatore 1</h4>
                            <p *ngFor="let ticket of operatore1; let i = index" [ngClass]="{ 'green': i % 2 === 0 }">
                                {{ ticket }}
                              </p>
                              
                        </div>
                        <div>
                            <h4>Operatore 2</h4>
                            <p *ngFor="let ticket of operatore2; let i =index" [ngClass]="{'green':(i) % 2 ==0}">
                                {{ticket}}
                            </p>
                        </div>
                        <div>
                            <h4>Operatore 3</h4>
                            <p *ngFor="let ticket of operatore3; let i =index" [ngClass]="{'green':(i) % 2 ==0}">
                                {{ticket}}
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="s3">
                <div class="operatore">
                    <div class="operatore1">
                        <h3>Operatore 1</h3>
                        <button
                            (click)="gestisciCoda('operatore1')">
                            Gestisci Coda
                        </button>
                    </div>

                    <div class="operatore2">
                        <h3>Operatore 2</h3>
                        <button
                            (click)="gestisciCoda('operatore2')">
                            Gestisci Coda
                        </button>
                    </div>

                    <div class="operatore3">
                        <h3>Operatore 3</h3>
                        <button
                            (click)="gestisciCoda('operatore3')">
                            Gestisci Coda
                        </button>
                    </div>
                </div>
            </section>
        </div>

</body>
</html>


